@import "tailwindcss";

@theme {
  --font-montserrat: var(--next-font-montserrat);
  --font-syne: var(--next-font-syne);
  --font-arabic: var(--next-font-tanseek);
}

@layer base {
  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: var(--font-montserrat);
  }
@media (min-width: 80rem) {
  .container {
    max-width: 90rem !important;
  }
}

}