@import "tailwindcss";

@theme {
  --font-montserrat: var(--next-font-montserrat);
  --font-syne: var(--next-font-syne);
  --font-arabic: var(--next-font-tanseek);
  --font-interTight: var(--next-font-interTight);
  
  /* === COLOR VARIABLES === */
  /* Primary Colors */
  --color-primary: #1D1D1F;
  --color-primary-dark: #000000;
  --color-primary-light: #999999;
  
  /* Secondary Colors */
  --color-secondary: #0456c9;
  --color-secondary-dark: #0456c9;
  --color-secondary-light: #0456c9;
  
  /* Text Colors */
  --color-text-black: #000000;
  --color-text-white: #ffffff;
  --color-text-gray: #374151;
  --color-text-gray-light: #6b7280;
  
  /* Background Colors */
  --color-bg-white: #ffffff;
    --color-bg-black: #ffffff;
     --color-bg-lightblack: #1D1D1F;
  --color-bg-gray: #F1F1F1;
  --color-bg-gray-light: #F4F4F4;
  
  /* Border Colors */
  --color-border-primary: #000000;
  --color-border-secondary: #0456c9;
  --color-border-light: #999999;
  --color-border-medium: #1D1D1F;
  
  /* Status Colors */
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;
}


.transform-bg-polygon-top {
    width: 55%;
    background: #fff;
    position: absolute;
    height: 58px;
    display: block;
    clip-path: polygon(0 0, 92.5% 0, 97% 100%, 0 100%);
    bottom: -1px;
    left: 0;
}
.transform-bg-polygon-bottom {
    width: 50%;
    background: #fff;
    position: absolute;
    height: 58px;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 4% 100%);
    top: -1px;
    left: 50%;
    z-index: 1;
}
.transform-bg-polygon-top:before {
    content: "";
    position: absolute;
    height: 40px;
    top: 0;
    right: 10.1%;
    border-left: 1px solid #fff;
}
.background-overlayscore{
      background-image: url('/keyEdScoretext.svg');
    background-position: 50% 300px;
    background-repeat: no-repeat;
    opacity: 1;
        height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;

}

   .bluecta{

   background-color: #fff0;
    background-image: linear-gradient(135deg, #0d1b35 0%, #112444 40%, #1a3260 70%, #0d2040 100%);
   }

   /* Background from image */
.bg-hero-fog {
  background:url('/bggray.png');
  background-size: cover;
}
.blackbg{
      background: radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #272727, #272727);
    box-shadow: 0px -3px 0px 0px #080808 inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.3019607843) inset, 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.1215686275), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.1294117647), 0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.1333333333), 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.1411764706), 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.1490196078), 0px 100px 80px 0px rgba(0, 0, 0, 0.1490196078), 0px 3px 3px 0px rgba(0, 0, 0, 0.1411764706), 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.1215686275);
}

.iconStyle{
  background-color: #272727;
  box-shadow: 0px -3px 0px 0px #080808 inset, 0px 1px 0px 0px rgba(255,255,255,0.302) inset, 0px 2.77px 2.21px 0px rgba(0,0,0,0.122), 0px 3px 3px 0px rgba(0,0,0,0.141), 0px 12.52px 10.02px 0px rgba(0,0,0,0.133), 0px 22.34px 17.87px 0px rgba(0,0,0,0.141), 0px 41.78px 33.42px 0px rgba(0,0,0,0.149), 0px 100px 80px 0px rgba(0,0,0,0.149);
}
.cardstyle{
      background: rgb(244, 244, 245);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 7.77px 16px 0px, rgba(0, 0, 0, 0.1) 0px 3px 3px 0px, rgba(0, 0, 0, 0.05) 0px -8px 0px 0px inset, rgba(255, 255, 255, 0.6) 0px 4px 0px 0px inset;
}
.blackcardstyle{
        background: radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, var(--neutral-900, #18181B), var(--neutral-900, #18181B));
    box-shadow: 0px 7.77px 2.21px 0px rgba(0, 0, 0, 0.0588235294), 0px 3px 3px 0px rgba(0, 0, 0, 0.1019607843), 0px -8px 0px 0px #2E2E2E inset, 0px 4px 0px 0px rgba(255, 255, 255, 0.3019607843) inset;
}
.black-btn{
      background: radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgb(39, 39, 39), rgb(39, 39, 39));
    box-shadow: rgb(8, 8, 8) 0px -3px 0px 0px inset, rgba(255, 255, 255, 0.3) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.12) 0px 2.77px 2.21px 0px, rgba(0, 0, 0, 0.13) 0px 6.65px 5.32px 0px, rgba(0, 0, 0, 0.133) 0px 12.52px 10.02px 0px, rgba(0, 0, 0, 0.14) 0px 22.34px 17.87px 0px, rgba(0, 0, 0, 0.15) 0px 41.78px 33.42px 0px, rgba(0, 0, 0, 0.15) 0px 100px 80px 0px, rgba(0, 0, 0, 0.14) 0px 3px 3px 0px, rgba(0, 0, 0, 0.12) 0px 2.77px 2.21px 0px;
}
.gray-btn{
      background: radial-gradient(62.56% 62.56% at 28.14% -10.42%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgb(63, 63, 70), rgb(63, 63, 70));
    box-shadow: rgb(39, 39, 42) 0px -3px 0px 0px inset, rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.12) 0px 2.77px 2.21px 0px, rgba(0, 0, 0, 0.13) 0px 6.65px 5.32px 0px;
}

.light-box {
    clip-path: polygon(14.2% 0%, 85.8% 0%, 100% 100%, 0% 100%);
    -webkit-backdrop-filter: blur(56px);
    backdrop-filter: blur(56px);
    background: linear-gradient(#ffffff24 0%, #fff0 100%);
    width: 800px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.dottedbg{
  background: url('/images/dot-bg-shape.webp');
}



.pxl-container-border {
    border-color: #d5d7da; 
     --border-dot-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.pxl-container-border__item.pxl-container-border__item-top {
    top: 0;
    width: 100%;
    height: 2px;
    left:0;
}
.pxl-container-border__item {
    position: absolute;
    overflow: hidden;
}

.pxl-container-border__item.pxl-container-border__item-top::before {
    transform: scaleX(-1);
    left: 0;
    animation: line_running_top 10s infinite;
    will-change: left;
}
.pxl-container-border__item.pxl-container-border__item-top::after {
    transform: scaleX(-1);
    left: 0;
    animation: line_running_top 10s infinite;
    will-change: left;
}
.pxl-container-border__style-1 .pxl-container-border__item-bottom {
    background: url(/images/line-dashed.svg);
}
.pxl-container-border__style-1 .pxl-container-border__item-top {
    background: url(/images/line-dashed.svg);
}
.pxl-container-border__item.pxl-container-border__item-bottom {
    bottom: 0;
    width: 100%;
    height: 2px;
    left:0
}
.pxl-container-border__item {
    position: absolute;
    overflow: hidden;
}
.pxl-container-border__item.pxl-container-border__item-top:before, .pxl-container-border__item.pxl-container-border__item-bottom:before {
    content: '';
    position: absolute;
    top: 0;
    width: 64px;
    height: 2px;
    background: linear-gradient(180deg, var(--border-dot-color) -51.04%, #f7f8f8 100%);
}
.pxl-container-border__item.pxl-container-border__item-bottom::before {
    right: 0;
    animation: line_running_bottom 10s infinite;
    will-change: right;
}
.pxl-container-border__item.pxl-container-border__item-top:after, .pxl-container-border__item.pxl-container-border__item-bottom:after {
    content: '';
    position: absolute;
    top: 0;
    width: 64px;
    height: 2px;
    background: linear-gradient(90deg, var(--border-dot-color) -51.04%, #f7f8f8 100%);
}
.pxl-container-border__item.pxl-container-border__item-bottom:after {
    right: 0;
    animation: line_running_bottom 10s infinite;
    will-change: right;
}

@keyframes line_running_top {
    0% {
        left: 0
    }

    100% {
        left: 100%
    }
}

@keyframes line_running_bottom {
    0% {
        right: 0
    }

    100% {
        right: 100%
    }
}

@keyframes line_running_left {
    0% {
        top: 0
    }

    100% {
        top: 100%
    }
}

@keyframes line_running_right {
    0% {
        bottom: 0%
    }

    100% {
        bottom: 100%
    }
}

@media (max-width:767px){
    .background-overlayscore {
    opacity: 1;
    background-image: url(/keyEdScoretext.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.transform-bg-polygon-bottom, .transform-bg-polygon-top {
    height: 24px;
}
}
@layer base {
  body {
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: var(--font-interTight);
  }
  
  @media (min-width: 80rem) {
    .container {
      max-width: 90rem !important;
    }
  }
}